.post-container {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	height: 180px;
	@media (max-width: 480px) {
		width: 80% !important;
	}
	width: 480px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	padding: 10px 20px;
}

.post-title {
	label {
		font-bold: 600;
	}
	.cancel-icon {
		float: right;
		width: 24px;
		height: 24px;
		img {
			width: 100%;
		}
	}
}

.post-confirm {
	width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
	background-color: #db4c3f;
    color: #fff !important;
    border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;
}

.post-confirm:hover {
	background-color: #c44438;
}