$headerColor: #db4c3f;
$headerHieght: 3em;
$addIconSize: 24px;

header {
	position: fixed;
	top: 0;
	background: $headerColor;
	height: $headerHieght;
	width: 100%;
}

.header-content {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	label {
		color: #fff;
		font-size: 2em;
	}

	.add-icon {
		display: inline-block;
		margin-left: 24px;
		width: $addIconSize;
		height: $addIconSize;
		img {
			width: 100%;
		}
	}
}